<div class="sidebar">
    <div class="sidebar-header">
        <h1 class="sidebar-title">Bloc Chat</h1>
        <button type="button" class="new-room" ng-click="home.addRoom()">New Room</button>
        <button ng-click="home.open()">New Room</button>
<p ng-repeat="room in home.rooms" ng-click="home.setCurrentRoom(room)">{{room.$value}}</p>
  </div>

    <div class="sidebar-body" ng-repeat="room in home.rooms">
        <p class="room-name" ng-click="home.setCurrentRoom(room)">{{ room.name}} </p>
    </div>
</div>

<div class="messages">
  <h3 style="text-align:center;">{{ home.currentRoom.$value }}</h3>
  <div class="messages" ng-repeat="message in home.messages">
    <div class="username" style="text-align:center;">{{ message.username }}</div>
    <div class="timestamp" style="text-align:center;">{{ message.sentAt }}</div>
    <div class="user-message" style="text-align:center;">{{ message.content }}</div>
  </div>
</div>
